<!-- ======= Portfolio Section ======= -->
<section id="works" class="mx-3 mx-lg-5 py-5">
  <div class="container-fluid">
    <div class="d-flex justify-content-center">
      <div class="row col-sm-12 row d-flex justify-content-center text-center">
        <h3 class="col-12 title-portfolio">Works</h3>
        <p class="col-12 subtitle-portfolio">Some of my works, you can find the code in my GitHub repositories</p>
        <div class="line"></div>
      </div>
    </div>

    <div class="row">

      <div class="col-md-4 px-1 px-md-2">
        <div class="work-box">
          <a href="https://rosamariabj.com/mapa" target="_blank">
            <div class="work-img">
              <img src="assets/img/work-4.jpg" alt="" class="img-fluid">
            </div>
          </a>
          <div class="work-content">
            <div class="row">
              <div class="col">
                <h2 class="title-work">Mapa restaurantes por categoria</h2>
                <div class="more">
                  <span class="category">Leaflet - Ajax - MySQL - HTML - CSS</span><span class="date"> / Apr. 2020</span>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>



      <div class="col-md-4 px-1 px-md-2">
        <div class="work-box">
          <a href="https://rosamariabj.com/rating" target="_blank">
            <div class="work-img">
              <img src="assets/img/work-2.jpg" alt="" class="img-fluid">
            </div>
          </a>
          <div class="work-content">
            <div class="row">
              <div class="col">
                <h2 class="title-work">Rating</h2>
                <div class="more">
                  <span class="category">HTML - CSS</span><span class="date"> / Oct. 2020</span>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <!-- <div class="col-md-4 px-1 px-md-2">
        <div class="work-box">
          <a href="https://rosamariabj.com/caja-registradora" target="_blank">
            <div class="work-img">
              <img src="assets/img/work-3.jpg" alt="" class="img-fluid">
            </div>
          </a>
          <div class="work-content">
            <div class="row">
              <div class="col">
                <h2 class="title-work">Caja registradora</h2>
                <div class="more">
                  <span class="category">Javascript, HTML, CSS</span><span class="date"> / Dec. 2020</span>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div> -->



      <div class="col-md-4 px-1 px-md-2">
        <div class="work-box">

          <a href="https://github.com/Rosaenergyflow/SASS-ANIMATION" target="_blank">
            <div class="work-img">
              <img src="assets/img/work-1.jpg" alt="" class="img-fluid">
            </div>
          </a>

          <div class="work-content">
            <div class="row">
              <div class="col">
                <h2 class="title-work">SASS Animation</h2>
                <div class="more">
                  <span class="category">HTML, SASS, Animation</span><span class="date"> / Mar. 2020</span>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>


     
      

     

    </div>
  </div>
</section><!-- End Portfolio Section -->