<!-- ======= Testimonials Section ======= -->
<div id="testimonials" class="testimonials my-5 mx-3 mx-lg-5">
  <div class="row d-flex justify-content-md-between justify-content-center">

    <div class="testimonial row col-12 col-md-6 d-flex justify-content-center">
      
      <div class="box-img row col-12 d-flex justify-content-center">
        <img src="assets/img/sonia.jpg" alt="sonia" class="rounded-circle">
      </div>

      <div class="row col-12 testimonials-text  testimonials-text-sonia d-flex justify-content-center pt-2">
        <div>
          <div class="col-12 text-center">
            <span class="author-name text-center">Sonia Olio</span>
          </div>

          <div class="col-12 text-center">
            <span class="author-description text-center">Product Manager Inditex</span>
          </div>

          <div>
            <p>
              Rosa stands out for being a versatile, responsible, methodical and very decisive professional. Brings cohesion
              to
              your teams and lead by example. With a clear commercial orientation and growth potential.
            </p>
          </div>

          <div>
          <span class="quote d-flex align-items-center justify-content-center">
              <i class="fa fa-quote-right"></i>
          </span>
          </div>
        </div>

      

      </div>

    </div>


    <div class="testimonial row col-12 col-md-6 d-flex justify-content-center">
      
      <div class="box-img row col-12 d-flex justify-content-center">
        <img src="assets/img/clara.jpg" alt="clara" class="rounded-circle">
      </div>

      <div class="row col-12 testimonials-text testimonials-text-clara d-flex justify-content-center pt-2">
        <div>
          <div class="col-12 text-center">
            <span class="author-name text-center">Clara Torrents</span>
          </div>
        
          <div class="col-12 text-center">
            <span class="author-description text-center">Frontend developer</span>
          </div>

          <div>
            <p>
              I met Rosa María studying programming, highlighting what a good companion she is, always willing to
              help and participate in problem solving. For Rosa there are no impossible challenges or too many days
              long to achieve the objectives that are proposed.
            </p>
          </div>

          <div>
          <span class="quote d-flex align-items-center justify-content-center">
              <i class="fa fa-quote-right"></i>
            </span>
          </div>
        </div>

         

      </div>


    </div>

  </div>

</div>
<!-- End Testimonials Section -->